<div class="auth-body">
  <section class="auth-container">
    <h1><%= title %></h1>

    <!-- Flash Message -->

    <div><%- messages() %></div>

    <p class="footer-text">
     You're logged in
    </p>
  </section>
</div>
