<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy <%= year %>, CSE 340 App</p>
  <p class="footer-links">
    <a href="/errors/trigger" title="Trigger test error">Trigger test error</a>
  </p>
</footer>
