 <main class="container">
    <header>
      <h1><%= vehicle.inv_make %> <%= vehicle.inv_model %> <span>(<%= vehicle.inv_year %>)</span></h1>
    </header>

    <section id="vehicle-detail-wrapper">
      <%- vehicleDetailHTML %>
    </section>
  </main>

